* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Tahoma, sans-serif;
}

body {
    background-color: black;
}

div {
    margin-left: 16px;
    margin-right: 16px;
}

div.container {
    width: 1200px;
    text-align: center;
}

div.container div.propuesta {
    color: #00ffff;
    border: 1px #00ffff solid;
    margin-top: 15px;
    min-width: 300px;
    max-width: 300px;
    border-radius: 15px;
    padding-top: 30px;
    padding-bottom: 16px;
    margin-bottom: 16px;
    position: relative;
    transform-style: preserve-3d;
}

div.container div.propuesta div {
    margin-bottom: 16px;
}

div.container div.propuesta div.fotografia img {
    margin-top: 24px;
    width: 190px;
    min-width: 190px;
    min-height: 190px;
    border-radius: 15px;
    margin-bottom: 40px;
}

div.container div.propuesta div:hover {
    color: #ffffff;
    cursor: context-menu;
}

div#softwareLibre span,
div#softwarePrivado span {
    cursor: context-menu;
    font-size: 24px;
}

div#softwareLibre div:hover span,
div#softwarePrivado div:hover span {
    color: #ffff00;
    animation-name: tagg;
    animation-duration: 1s;
}

div.container a {
    color: #00ffff;
    text-decoration: none;
    min-width: 300px;
    max-width: 300px;
}

div.container a:hover {
    color: #ffff11;
}

div.container div.propuesta:nth-child(2) {
    text-align: center;
    margin-bottom: 16px;
}

div.container div.propuesta:nth-child(2) p {
    text-align: left;
    margin-bottom: 16px;
    margin-left: 32px;
}

div.container div.propuesta:nth-child(2) p span {
    display: block;
    margin-top: 16px;
    margin-left: 20px;
}

div.container div.propuesta:nth-child(3),
div.container div.propuesta:nth-child(4) {
    padding-bottom: 30px;
    text-align: center;
}

div.container div.propuesta:nth-child(3) div:nth-child(1),
div.container div.propuesta:nth-child(4) div:nth-child(1) {
    color: #ffff11;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    border-radius: 16px;
}

div.container div.propuesta:nth-child(1) {
    background-image: linear-gradient(to bottom right, #00ffffff, #00ffff00, #00ffff00);
    padding: 1px;
    font-size: 32px;
    animation-name: bordeado;
    animation-duration: 100ms;
    animation-iteration-count: infinite;
    border: 0px;
}

div.container div.propuesta div.content {
    background-color: black;
    margin: 0px;
    width: 267px;
    font-size: 16px;
    height: 50px;
    padding: 16px;
    border-radius: 16px;
}

@media only screen and (min-width: 600px) {

    div.container div.propuesta {
        display: inline-block;
    }

    div.container div.propuesta:nth-child(1) {
        max-width: 500px;
        font-size: 32px;
    }

    div.container div.propuesta:last-child {
        display: none;
    }
}

@media only screen and (min-width: 768px) {

    div.container div.propuesta {
        display: inline-block;
    }

    div.container div.propuesta:nth-child(1) {
        min-width: 977px;
    }

    div.container div.propuesta div.content {
        min-width: 945px;
        font-size: 32px;
    }

    div.container div.propuesta:last-child {
        display: inline-block;
        min-width: 977px;
    }
}

@keyframes bordeado {
    0% {
        background-image: linear-gradient(to right bottom, #00ffff00, #00ffffff, #00ffff00);
    }

    100% {
        background-image: linear-gradient(to right, #00ffffff, #00ffff00, #00ffffff);
    }
}
