* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.mobile-container {
    display: block;
    max-width: 480px;
    margin: auto;
    background-color: #000000;
    color: white;
    border-radius: 10px;
    padding-bottom: 25px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
    margin-bottom: 25px;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #b89859;
    color: white;
}









body {
    background-color: #000000;
}

img.custom-logo {
    width: 95%;
    border: 9px #b89859 solid;
}

div.menu {
    display: none;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: #ffffff;
}

div.formClient {
    height: 0px;
    line-height: 1.2;
    background-color: #e2e2e2;
    border-top: 9px #b89859 solid;
    border-bottom: 9px #b89859 solid;
    padding-top: 16px;
    font-size: 48px;
    font-family: Emeric, Arial, sans-serif;
    font-weight: 600;
    color: #b89859;
    padding-left: 8px;
}

div.formClient>img {
    display: none;
}

div.formClient>img.logotipo {
    display: inline-block;
    margin-top: 5px;
}

div.formClient>img.logotipo:nth-child(2) {
    display: inline-block;
    margin-top: 75px;
}

img.logo {
    display: inline-block;
    max-width: 307px;
    margin-left: 26px;
}

img.promo {
    display: inline-block;
    max-width: 750px;
}

div.formClient>img.promo {
    display: none;
}

div.formClient>span {
    color: #b89859;
}

.formulario {
    color: #747474;
    height: 900px;
    max-width: 300px;
    margin: 5px;
    padding-left: 5px;
}

.formulario li {
    display: inline;
    width: 90%;
    margin-top: 16px;
}

.formulario li label {
    float: left;
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-size: 14px;
}

.formulario li input {
    float: left;
    font-size: 24px;
}

.formulario li p {
    margin-bottom: 25px;
}

.formulario li p:first-child {
    margin-top: 50px;
}

.formulario li input {
    border: 0px;
}

.formulario li input:focus {
    border: 0px;
    outline: none;
}

fieldset {
    display: inline;
    background-color: rgb(255 255 255 / 19%);
    border: 1px #747474 solid;
    border-top: 0px;
    border-right: 0px;
    margin: 5px;
    padding: 5px;
}

input[type="checkbox"] {
    width: 25px;
    height: 25px;
    margin-right: 16px;
    box-shadow: 3px 3px #b89859;
    border-radius: 2px;
    background-color: #000000;
}

li::marker {
    color: #000000;
    font-size: 1.5em;
}

.footer {
    background-color: #b89859;
    padding-left: 50px;
    height: 150px;
}

.footer ul li::marker {
    color: #b89859;
    font-size: 1.5em;
}

#remitente {
    background-color: #00000000;
    border: 2px #00000000 solid;
    display: block;
}

#remitente>ul>li>fieldset>label,
#remitente>ul>li>h2,
#remitente>ul:nth-child(3)>li:nth-child(3)>p:nth-child(2) {
    margin-right: 50px;
    color: #b89859;
}

.continuar {
    color: #b89859;
    border: 5px #b89859 solid;
    border-radius: 5px;
    font-size: 24px;
    font-family: Emeric, Arial, sans-serif;
    font-weight: 600;
    height: 50px;
    line-height: 1.2;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #b8985900;
    float: right;
    margin-bottom: 50px;
    margin-right: 10px;
}

.destinatario {
    display: none;
}

.mercadeo {
    background-color: #000000;
    height: 800px;
}

@media only screen and (min-width: 768px) {
    .mobile-container {
        display: none;
    }

    .borde {
        width: 100%;
        /*width: 1140px;*/
        height: 32px;
        background-color: rgb(0, 0, 0);
        float: right;
    }

    img.custom-logo {
        margin-top: 12px;
        margin-left: 50px;
        width: 307px;
    }

    div.formClient {
        padding-left: 50px;
    }

    div.formClient>img {
        width: 1085px;
        margin-top: 100px;
        border: 9px #b89859 solid;
        display: block;
    }

    div.menu {
        display: block;
        width: 95%;
        height: 100px;
        color: rgb(0, 69, 113);
        font-family: "FS Emeric", sans-serif;
    }

    div.menu li {
        display: inline;
        margin-left: 16px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 9px;
        height: 58px;
        border-right: 1px #080808 solid;
        border-bottom: 4px #000000 solid;
    }

    div.menu li:last-child {
        border-right: 1px #ffffff solid;
    }

    div.menu a:hover {
        padding-bottom: 9px;
        border-bottom: 4px #E57200 solid;
    }

    div.menu li::marker {
        color: #080808;
        font-size: 1.2em;
    }

    .links {
        height: 58px;
        color: #b89859;
        background-color: rgb(0, 0, 0);
        float: right;
    }

















    .formulario {
        height: 500px;
        max-width: 100%;
        margin: 50px;
        padding-left: 0px;
        margin-top: 175px;
        margin-left: 125px;
    }

    .formulario li {
        display: inline;
        width: 95%;
        /*max-width: 200px;*/
        margin-top: 16px;
    }

    .formulario li p:first-child {
        margin-top: 150px;
    }

    .footer {
        margin-top: 199px;
        height: 100px;
    }

    img.logo {
        margin-left: 0px;
    }

    div.formClient>img.promo {
        display: inline-block;
    }

    .continuar {
        margin-right: 49px;
    }

}